*{
    margin: 0;
    box-sizing: border-box;
    background-color: #212A31;
    color: white;
}
body{
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}

    /* Navbar */

.dropdown-menu li{
    list-style: none;
    text-decoration: none;
}

.links li{
    list-style: none;
    background-color: transparent;
}

.Portfolio{
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: "Playfair Display", serif;
}

.links{
    background-color: transparent;
}

.links .navOpt{
    font-size: 1.3rem;
}

.navOpt{
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    background-color: transparent;
    font-family: "Playfair Display", serif;
}

.navOpt:hover{
    color: orange;
    transform: scale(1.2);
}

header{
    position: relative;
}

.navbar{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #2E3944;
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    background-color:  #2E3944;
}

.toggle i{
    background-color: transparent;
}

.dropdown-menu{
    position: absolute;
    z-index: 1;
    display: none;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 200px;
    background-color: rgba(46, 57, 68, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 220px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 57, 68, 0.1);
}


/* Responsiveness-Nab */

@media(max-width: 992px)
{
    .navbar .links{
        display: none;
    }
    .navbar .toggle{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}

@media(max-width: 576px)
{
    .dropdown-menu{
        left: 2rem;
        width: unset;
        top: 20px;
    }
}




    /* profile */


.pfp{
    border-radius: 50%;
    border-style: solid;
    margin-top: 40px;
    margin-left: 20px;
    animation: slideLeft 1s ease forwards;
}

.disc{
    height: 250px;
    width:700px ;
    display: inline-block;
    position: relative;
    left: 50px;
    top: 150px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 80px; 
    background-color: transparent;
}

.top{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 50px;
    
}
.disc h1{ 
    animation: slideTop 1s ease forwards;
    font-family: "Caveat", cursive;
}
.disc p{
    animation: slideName 1s ease forwards;
}


    /* button */

.btn-box{
    display: flex;
    height: 2rem;
    width: 8rem;
    background-color: #124E66;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 1rem;
    border: 1px solid white;
    animation: slideTop 1s ease forwards;
}

.wp{
    text-decoration: none;
}

.btn-box h4{
    background-color: transparent;
    font-weight: 0.5em;
    font-family: "Playfair Display", serif;
    padding-left: 3px;
    letter-spacing: 0.2rem
    
}

.btn-box img{
    height: 1.5em;
    background-color: transparent;
}

.btn-box:hover{
    box-shadow: -2px -2px 2px white, 2px 2px 2px white;
    transition-duration: 0.5s;
    cursor: pointer;
}

.btn-box:active{
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    
}


    /* Responsiveness- Top & Button */

@media(max-width:900px){
    .pfp{
        height: 300px;
    }
    .disc{
        width: 200px;
        height: 150px;
        position: relative;
        top: 60px;
    }
}

@media(max-width:450px){
    .pfp{
        height: 140px;
        margin-left: 0px;
    }

    .disc{
        width: 180px;
        height: 90px;
        position: relative;
        top: 5px;
        left: 3px;
        right: 20px;
        background-color: transparent;
        margin-top: 60px;
    }

    .disc h1{
        font-size: 25px;
        padding-left: 15px;
    }

    .disc p {
        font-size: 12px;
        padding-left: 15px;
    }

    h2{
        text-align: center;
    }

    .btn-box{
        height: 1.5rem;
        width: 7rem;
    }

    .btn-box h4{
        background-color: transparent;
        font-size: 14px;
        font-weight: 400 ;
        letter-spacing: 0.2rem;
    }

    .btn-box img{
        height: 1.2em;
        background-color: transparent;
    }
}

@media(max-width:367px){
    .pfp{
        height: 140px;
        margin-left: 80px;
    }
    .disc{
        width: 180px;
        height: 110px;
        position: relative;
        top: 5px;
        left: 3px;
        right: 20px;
        background-color: transparent;
        margin-top: 10px;
        
        
    }
    .disc h1{
        font-size: 25px;
        padding-left: 0px;
    }
    .disc p {
        font-size: 12px;
        padding-left: 0px;
    }
}



    /* Sections */

.sec{
    text-align: center;
    color: #D3D9D4;
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: #2E3944;
 }

@media(max-width:900px){
    .sec{
        margin-bottom: 60px;
        margin-top: 100px;
    }
}




/* About */


.about{
    margin-bottom: 30px;
    
}
.about .sec{
    padding-top: 0px;
}


.about li{
    animation: slideTop 1s ease forwards;
    margin-left: 400px;
    line-height: 1.5;
    font-family: "Playfair Display", serif;
}

/* Responsiveness-About */

@media(max-width:900px){
    .about{
        margin-top: 30px;
    }
    .about .sec{
        margin-top:30px;
    }
    .about li{
        margin-left: 1em;
    }
}
@media(max-width:450px){
    .about{
        margin-top: 30px;
    }
    .about li{
        padding-left: 5px;
        padding-right: 10px;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 300;
        text-align: justify;
        word-spacing: 0.1rem;
    }
}



/* education */

td{
    padding: 25px;
    animation: slideLeft 1s ease forwards;
}
td a{
    text-decoration: none;
}
th{
    padding: 5px;
    animation: slideLeft 1s ease forwards;
}
.table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

    /* Responsiveness-Education */

@media(max-width:367px){
    td{
        padding: 13px;
        font-size: 12px;
    }
    th{
        padding: 2px;
        font-size: 14px;
    }

}
@media(max-width:450px){
    td{
        padding: 15px;
        font-size: 13px;
    }
    th{
        padding: 3px;
        font-size: 15px;
    }
    .divisions .sec{
        margin-bottom: 60px;
    }
}




    /* skills */


#card{
    height: 200px;
    width: 200px;
    display: inline-block;
    background-color: #2E3944;
    margin: 30px;
    border-radius: 50% 20% / 10% 40%;
    transition: 0.3s;
    box-shadow: 0 2px 2px white;
    animation: slideLeft 1s ease forwards;
}

.Skills{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   justify-content: center;
}

.cardimg{
    height: 100px;
    width: 50%;
    position: relative;
    top: 20px;
    left: 25%;
    background-color: transparent;
}

 .lang{
    text-align: center;
    position: relative;
    top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    
 }

 #card:hover{
    box-shadow: 0 6px 8px white;
 }

    /* Responsiveness-Skills */

@media(max-width:450px){
    #card{
        height: 100px;
        width: 100px;
        margin: 10px;   
    }

    .cardimg{
        height: 50px;
        position: relative;
        top: 10px;
    }

    .lang{
        top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 13px; 
     }
}


/* contacts */

.contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.cnts i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

.cnts i:hover{
    opacity: 1;
    transform: scale(1.5);
}


/* Projects */

.Spotify{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    font-size: 1.2rem;
   
}



/* bottom */

.thanks{
    text-align: center;
    font-family: "Playwrite RO", cursive;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.heart{
    color: red;
    display: inline-block;
    /* text-align: center; */
    font-size: large;
    padding-left: 3px;
    font-family: "Playwrite RO", cursive;
}

.thx{
    display: inline-block;
    font-family: "Playwrite RO", cursive;
}

@media(max-width:450px){
    .thanks{
        font-size: 10px;
    }
}


    /* Animations */

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideName {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    30% {
        transform: translateX(100px);
        opacity: 0;
    } 
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    30% {
        transform: translateY(-100px);
        opacity: 0;
    } 
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

